body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  padding-bottom: 48px;
}

ul {
  list-style: none;
  display: flex;
  margin-left: 200px;
}

li {
  margin: 8px;
}

a {
  text-decoration: none;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.right ul li a {
  font-size: 18px;
  color: #e5e7eb;
}

/* BODY FIRST HALF */

.body1 {
  background-color: #1f2937;
  display: flex;
  padding-bottom: 72px;
  align-items: center;
}

.body1 .left {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.body1 .left h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  display: flex;
  text-align: left;
  margin-bottom: 0;
}

.body1 .left p {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  margin-top: 0;
  text-align: left;
}

button {
  padding: 10px 35px;
  border-radius: 8px;
}

button.sign-up {
  background-color: #3882f6;
  color: white;
  border: 1px solid #3882f6;
  font-weight: bold;
  display: flex;
  font-size: 18px;
}

.body1 .right {
  margin-right: auto;
  margin-left: auto;
}

.body1 .right img {
  width: 500px;
  height: 250px;
}

/* BODY SECOND HALF */

.body2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body2 .logo {
  margin-top: 24px;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.body2 .boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  text-align: center;
  margin-top: 32px;
}

.body2 .container .box {
  height: 160px;
  width: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.body2 .container .text {
  font-size: 18px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 18px;
  margin-right: 18px;
  color: #1f2937;
}

/* FOOTER  */

.footer {
  margin-top: auto;
  background-color: #1f2937;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
